%hr
%h2 Projects
.row
  .four.medium-4.columns
    %h2{style: "font-size: 1.2rem;"} 
      = link_to "#{http_prefix}research/sensation-to-action" do
        From Sensation to Action
    = link_to "#{http_prefix}research/sensation-to-action" do
      = image_tag "from-sensation-to-action.png"

  .four.medium-4.columns
    %h2{style: "font-size: 1.2rem;"} 
      = link_to "#{http_prefix}research/descending-motor-control" do
        Descending Motor Control
    = link_to "#{http_prefix}research/descending-motor-control" do
      = image_tag "descending-motor-control.png"

  .four.medium-4.columns
    %h2{style: "font-size: 1.2rem;"} 
      = link_to "#{http_prefix}research/biomechanics-of-locomotion" do
        Biomechanics of Locomotion
    = link_to "#{http_prefix}research/biomechanics-of-locomotion" do
      = image_tag "biomechanics-of-locomotion.png"