---
title: Descending Motor Control
layout: two-columns-left-nav
---

%h1= current_page.data.title

%p Locomotion is hierarchically controlled. Local reflexes in the limb are under control of circuits in the spinal cord which are in turn controlled by circuits in the brain 

%p Both in invertebrate and vertebrates, there are a multitude of descending pathways (<strong>Figure 1</strong>) which have defined role in descending control. To understand descending motor control, one has to record neural activity from different regions in the brain and body ganglia while assessing behavior. Drosophila is a great system for studying motor control because it is the simplest genetic model organism that displays a large array of complex behaviors that require both multisensory integration and control over multi-jointed limbs.

%p To study of descending motor control in Drosophila. We will
%ol
  %li Perform recordings from genetically identified DNs to determine how they represent sensory and motor information. We have developed techniques to record from genetically labeled DNs while stimulating them with stimuli from multiple sensory modalities and measuring leg kinematics. 
  %li We have developed techniques to assess the functional connectivity between upstream circuits, DNs and motor neurons. These experiments will allow us to understand the neural architecture underlying descending control. 
  %li Third, we have developed techniques to reversibly activate and inactivate defined sets of DNs to study how they affect behavior. 

.panel
  = link_to "#{http_prefix}images/fig-1-drosophilia-clusters.png" do
    = image_tag "fig-1-drosophilia-clusters.png"

= partial "research/projects"
