---
title: Personnel
---
%h1= current_page.data.title

.row
  .medium-12.twelve.columns
    = image_tag "Vikas.jpg", class: "right"
    %h2{style: "font-size: 24px;"} Vikas Bhandawat, PhD
    %p
      %strong Principal Investigator
    %p
      %strong Associate Professor
      %br
      School of Biomedical Engineering, 
      %br 
      Science and Health Systems
      %br
      Drexel University
    %p
      = mail_to "vikas.bhandawat@drexel.edu"

%hr

.row
  .medium-4.four.columns
    = image_tag "Sarah-McMahan.jpg"
    %h2{style: "font-size: 16px;"} Sarah McMahan
    %p
      %strong Lab Manager


  .medium-4.four.columns
    = image_tag "jonathan-perdomo.jpg"
    %h2{style: "font-size: 16px;"} Jonathan Perdomo
    %p
      %strong BMS Graduate Student


  .medium-4.four.columns
    = image_tag "Liangyu-Tao.jpg"
    %h2{style: "font-size: 16px;"} Liangyu Tao
    %p
      %strong BME Graduate Student

.row
  .medium-4.four.columns
    = image_tag "Ninghan-Wang.png"
    %h2{style: "font-size: 16px;"} Ninghan Wang
    %p
      %strong BME Graduate Student

  .medium-4.four.columns
    = image_tag "Sam-Wechsler.png"
    %h2{style: "font-size: 16px;"} Sam Wechsler
    %p
      %strong BME Graduate Student
  .medium-4.four.columns
