---
title: Publications List
---

%h1= current_page.data.title

%ol
  - data.publications.each do |pub|
    %li
      = pub.citation.gsub(/(?<name>V\. Bhandawat)/, '<strong>\k<name></strong>')
      %br
      - case not pub.doi.blank?
      - when true
        Link: 
        = link_to "doi: #{pub.doi}", "https://dx.doi.org/#{pub.doi}"
  